*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    text-align: center;
    background-color: aqua;
}
a{
    text-decoration: none;
    color: white;
}
li{
    text-decoration: none;
    list-style: none;
}
header{
    background: rgba(0,255,128);
    color: rgba(61,61,61);
    padding: 10px;
}
header p{
    font-size: 16px;
}
.survey{
    width: 80%;
    margin: 20px auto;
    background: royalblue;
    color: white;
    height: 200px;
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(0 ,0, 0, 0.4);
}
.survey h3{
    margin: 8px;
    padding-top: 10px;
}
.survey li{
    margin: 10px;
    cursor: pointer;
}
.survey li:hover{
    background: cornflowerblue;
    width: 150px;
    margin: 0 auto;
    padding: 4px;
    border-radius: 3px;
    transition: 0.3s ease;
}
.end{
    background: royalblue;
    color: white;
    width: 80%;
    margin: 35% auto;
    padding: 20px 0;
    border-radius: 3px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
}
.end h1{
    margin: 5px;
}
.end p{
    padding: 10px;
}
.end a{
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    border-radius: 4px;
    background: rgba(61, 61, 61);
    outline: none;
}
.end a:hover{
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}
.q1{
    display: block;
}
.q2{
    display: none;
}
.q3{
    display: none;
}
.end{
    display: none;
}