*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Ubuntu", sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width: 53px;
    padding: 0 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
nav ul .log {
    position: absolute;
    left: 1240px;
    color: white;
}
nav ul .audio{
    position: absolute;
    left: 1000px;
}
nav ul .about{
    position: absolute;
    left: 1100px;
}
nav ul .very{
    position: absolute;
    left: 600px;
    font-size: 30px;
}
nav ul .very:hover{
    color: yellow;
}
ul a{
    list-style-type: none;
    color: white;
    font-size: 20px;
}
ul a:hover{
    color: red;
}
.container{
    width: 1200px;
    height: 500px;
    background-color: rgb(201, 218, 201);
    margin-left: 80px;
    margin-top: 35px;
}
.container img{
    width: 700px;
    height: 400px;
    margin-left: 245px;
    margin-top: 50px;
}
.audio-container{
    background-image: url("bg.jpg");
}
.audio-container{
    width: 100%;
    height: 81vh;
    margin-top: 10px;
}
.audio-container h1{
    position: absolute;
    left: 400px;
}
.any{
    color: tan;
}
.where{
    color: rgb(18, 175, 28);
}
.time{
    color: rgb(182, 12, 154);
}
.any:hover{
    color: red;
}
.where:hover{
    color: aqua;
}
.time:hover{
    color: black;
}
.ferst{
    width: 300px;
    height: 200px;
    background-color: rgb(139, 137, 137);
    border-radius: 20px;
    outline: none;
    position: absolute;
    top: 120px;
    left: 60px;
    z-index: 1;
    opacity: 0.5;
}
.ferst:hover{
    background-color: green;
    color: aqua;
}
.ferst h2{
    font-size: 60px;
    padding-left: 13px;
    padding-top: 50px;
}
.two{
    width: 300px;
    height: 200px;
    background-color: rgb(139, 137, 137);
    border-radius: 20px;
    outline: none;
    position: absolute;
    top: 120px;
    left: 500px;
    z-index: 1;
    opacity: 0.5;
}
.two:hover{
    background-color: green;
    color: aqua;
}
.two h2{
    font-size: 60px;
    padding-left: 13px;
    padding-top: 50px;
}
.three{
    width: 320px;
    height: 200px;
    background-color: rgb(139, 137, 137);
    border-radius: 20px;
    outline: none;
    position: absolute;
    top: 120px;
    left: 940px;
    z-index: 1;
    opacity: 0.5;
}
.three:hover{
    background-color: green;
    color: aqua;
}
.three h2{
    font-size: 60px;
    padding-left: 13px;
    padding-top: 50px;
}
.four{
    width: 300px;
    height: 200px;
    background-color: rgb(139, 137, 137);
    border-radius: 20px;
    outline: none;
    position: absolute;
    top: 400px;
    left: 60px;
    z-index: 1;
    opacity: 0.5;
}
.four:hover{
    background-color: green;
    color: aqua;
}
.four h2{
    font-size: 60px;
    padding-left: 13px;
    padding-top: 50px;
}
.five{
    width: 300px;
    height: 200px;
    background-color: rgb(139, 137, 137);
    border-radius: 20px;
    outline: none;
    position: absolute;
    top: 400px;
    left: 500px;
    z-index: 1;
    opacity: 0.5;
}
.five:hover{
    background-color: green;
    color: aqua;
}
.five h2{
    font-size: 60px;
    padding-left: 13px;
    padding-top: 50px;
}
.sex{
    width: 320px;
    height: 200px;
    background-color: rgb(139, 137, 137);
    border-radius: 20px;
    outline: none;
    position: absolute;
    top: 400px;
    left: 940px;
    z-index: 1;
    opacity: 0.5;
}
.sex:hover{
    background-color: green;
    color: aqua;
}
.sex h2{
    font-size: 60px;
    padding-left: 13px;
    padding-top: 50px;
}
.footer{
    width: 1365px;
    height: 54px;
    background-color: black;
}
.footer h1{
    color: white;
    position: absolute;
    left: 440px;
    top: 610px;
}
.logas{
    width: 100%;
    height: 100vh;
    background-image: url("log.jpg");
}
.logas a{
    font-size: 20px;
    color: black;
    border: none;
    border-radius: none;
    list-style-type: none;
    padding: 30px;
    background-color: rgb(20, 214, 10);
    text-align: center;
}
.logas h1{
    font-size: 60px;
    position: absolute;
    left: 340px;
    top: 10px;
    color:yellow;
}
.both{
    position: absolute;
    left: 500px;
    top: 200px;
}
.both h2{
    position: absolute;
    left: 180px;
    bottom: 50px;
}
.nm label{
    font-size: 20px;
}
.nm input{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
}
.pa label{
    font-size: 20px;
    position: absolute;
    right: 305px;
    top: 70px;
}
.pa input{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: absolute;
    margin-top: 40px;
    left: 60px;
    text-align: center;
}
#karo{
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    position: absolute;
    left: 190px;
    top: 140px;
}
#karo:hover{
    background-color: crimson;
    color: white;
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #eee;
    font-family: system-ui;
}
.news{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 0 0;
    opacity: 0;
    visibility: hidden;
}
.bg_active{
    opacity: 1;
    visibility: visible;
}
h1{
    position: absolute;
    top: 620px;
    left: 60px;
}
.frk{
    position: absolute;
    top: 635px;
    left: 170px;
    width: 30px;
    height: 20px;
    cursor: pointer;
}
.frk:hover{
    background-color: green;
    color: black;
}
form h1{
    font-size: 20px;
    position: absolute;
    left: 920px;
    top: 760px;
    cursor: pointer;
}
form{
    width: 500px;
    background-color: #ffff;
    padding: 1rem 2rem;
    box-shadow: 0px 0px 10px #000;
    border-radius: 10px;
}
.form-control{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
}
input{
    padding: 10px 0;
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    border: 0;
    border-bottom: 2px solid rgb(241, 241, 43);
    background-color: transparent;
    outline: none;
}
.form-control label{
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 7px;
}
.submit{
    width: 60px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 5px #000;
    background-color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: block;
    margin-left: auto;
}
.submit:hover{
    background-color: #fff;
    box-shadow: 0 0 10px rgb(241, 241, 43);
    transition: all 0.5s;
    border: 2px solid rgb(241, 241, 43);
}
.notes{
    width: 100%;
    display: flex;
    padding: 3rem 2rem 2rem 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card{
    background: #fff;
    padding: 1rem 1.5rem 1rem;
    width: 32rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 1rem 2rem;
}
.card h3{
    font-size: 1.9rem;
    padding-bottom: 7px;
    position: relative;
    display: inline;
}
.card p{
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    padding: 1rem 0;
}
.card h3::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 6px;
    left: 0;
    background: rgb(180, 180, 0);
}
.del{
    padding: 8px 15px;
    letter-spacing: 1px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: rgb(241, 241, 43);
    color: rgb(66, 65, 65);
}
.del:hover{
    background: darkgoldenrod;
    transition: all 0.4s;
    color: #fff;
}